/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/**
     * 1. Set default font family to sans-serif.
     * 2. Prevent iOS and IE text size adjust after device orientation change,
     *    without disabling user zoom.
     */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
     * Remove default margin.
     */
body {
  margin: 0; }

/* HTML5 display definitions
       ========================================================================== */
/**
     * Correct `block` display not defined for any HTML5 element in IE 8/9.
     * Correct `block` display not defined for `details` or `summary` in IE 10/11
     * and Firefox.
     * Correct `block` display not defined for `main` in IE 11.
     */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
     * 1. Correct `inline-block` display not defined in IE 8/9.
     * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
     */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Prevent modern browsers from displaying `audio` without controls.
     * Remove excess height in iOS 5 devices.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
       * Address `[hidden]` styling not present in IE 8/9/10.
       */
[hidden] {
  display: none; }

/**
     * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
     */
template {
  display: none; }

/* Links
       ========================================================================== */
/**
       * Remove the gray background color from active links in IE 10.
       */
a {
  background-color: transparent; }

/**
     * Improve readability of focused elements when they are also in an
     * active/hover state.
     */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
       ========================================================================== */
/**
     * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
     */
abbr[title] {
  border-bottom: 1px dotted; }

/**
     * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
     */
b,
strong {
  font-weight: bold; }

/**
     * Address styling not present in Safari and Chrome.
     */
dfn {
  font-style: italic; }

/**
     * Address variable `h1` font-size and margin within `section` and `article`
     * contexts in Firefox 4+, Safari, and Chrome.
     */
h1 {
  font-size: 2em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin: 0.75em 0; }

/**
       * Address styling not present in IE 8/9.
       */
mark {
  background: #ff0;
  color: #000; }

/**
     * Address inconsistent and variable font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` affecting `line-height` in all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
       ========================================================================== */
/**
       * Remove border when inside `a` element in IE 8/9/10.
       */
img {
  border: 0; }

/**
     * Correct overflow not hidden in IE 9/10/11.
     */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
       ========================================================================== */
/**
       * Address margin not present in IE 8/9 and Safari.
       */
figure {
  margin: 1.5em 40px; }

/**
     * Address differences between Firefox and other browsers.
     */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
     * Contain overflow in all browsers.
     */
pre {
  overflow: auto; }

/**
     * Address odd `em`-unit font size rendering in all browsers.
     */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
       ========================================================================== */
/**
     * Known limitation: by default, Chrome and Safari on OS X allow very limited
     * styling of `select`, unless a `border` property is set.
     */
/**
     * 1. Correct color not being inherited.
     *    Known issue: affects color of disabled elements.
     * 2. Correct font properties not being inherited.
     * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
     * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
     * 5. Improve appearance and consistency with IE 6/7.
     */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
     * Address `overflow` set to `hidden` in IE 8/9/10/11.
     */
button {
  overflow: visible; }

/**
     * Address inconsistent `text-transform` inheritance for `button` and `select`.
     * All other form control elements do not inherit `text-transform` values.
     * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
     * Correct `select` style inheritance in Firefox.
     */
button,
select {
  text-transform: none; }

/**
     * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
     *    and `video` controls.
     * 2. Correct inability to style clickable `input` types in iOS.
     * 3. Improve usability and consistency of cursor style between image-type
     *    `input` and others.
     * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
     *    Known issue: inner spacing remains in IE 6.
     */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
     * Re-set default cursor for disabled elements.
     */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
     * Remove inner padding and border in Firefox 4+.
     */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
     * Address Firefox 4+ setting `line-height` on `input` using `!important` in
     * the UA stylesheet.
     */
input {
  line-height: normal; }

/**
       * It's recommended that you don't attempt to style these elements.
       * Firefox's implementation doesn't respect box-sizing, padding, or width.
       *
       * 1. Address box sizing set to `content-box` in IE 8/9/10.
       * 2. Remove excess padding in IE 8/9/10.
       * 3. Remove excess padding in IE 7.
       *    Known issue: excess padding remains in IE 6.
       */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Fix the cursor style for Chrome's increment/decrement buttons. For certain
     * `font-size` values of the `input`, it causes the cursor style of the
     * decrement button to change from `default` to `text`.
     */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
     * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
     */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
  /**
       * Remove inner padding and search cancel button in Safari and Chrome on OS X.
       * Safari (but not Chrome) clips the cancel button when the search input has
       * padding (and `textfield` appearance).
       */ }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * Define consistent border, margin, and padding.
     */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
     * 1. Correct `color` not being inherited in IE 8/9/10/11.
     * 2. Remove padding so people aren't caught out if they zero out fieldsets.
     * 3. Correct alignment displayed oddly in IE 6/7.
     */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Remove default vertical scrollbar in IE 8/9/10/11.
     */
textarea {
  overflow: auto; }

/**
     * Don't inherit the `font-weight` (applied by a rule above).
     * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
     */
optgroup {
  font-weight: bold; }

/* Tables
       ========================================================================== */
/**
     * Remove most spacing between table cells.
     */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* This stylesheet generated by Transfonter (http://transfonter.org) on May 14, 2016 2:30 PM */
@font-face {
  font-family: 'Ikaros Sans';
  src: url("../fonts/Ikaros-Regular.eot");
  src: url("../fonts/Ikaros-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Ikaros-Regular.woff") format("woff"), url("../fonts/Ikaros-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  background: #000000;
  color: #f3f3f3;
  font-family: Roboto, sans-serif;
  padding-top: 50px; }

a {
  color: #f3f3f3;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
  text-decoration: none; }
  a:hover {
    color: #ffd429; }

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #000000;
  -webkit-transition: top 0.3s ease;
  transition: top 0.3s ease;
  z-index: 10; }
  .navbar .container {
    max-width: 1200px;
    margin: 0 auto; }
  .navbar a {
    font-weight: 400;
    display: block;
    line-height: 50px;
    cursor: pointer; }
  .navbar.hide {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
    top: -40px; }

.navbar-content {
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  padding: 0 30px 0 30px; }
  .navbar-content .navbar-nav {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }

a.navbar-logo {
  font-size: 26px;
  font-weight: 900; }
  a.navbar-logo:hover {
    color: #f3f3f3 !important; }

.navbar-nav {
  padding-left: 20px;
  font-size: 14px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .navbar-nav .navbar-nav-item {
    display: block;
    padding: 0 15px; }

a.navbar-contact {
  display: block;
  font-size: 14px;
  padding-left: 30px; }

.vanishOut {
  -webkit-animation: vanishOut 1s linear;
  animation: vanishOut 1s linear; }

@-webkit-keyframes vanishOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-filter: blur(0px);
    filter: blur(0px); }
  100% {
    opacity: 0;
    -webkit-transform: scale(4, 4);
    transform: scale(4, 4);
    -webkit-filter: blur(20px);
    filter: blur(20px); } }

@keyframes vanishOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-filter: blur(0px);
    filter: blur(0px); }
  100% {
    opacity: 0;
    -webkit-transform: scale(4, 4);
    transform: scale(4, 4);
    -webkit-filter: blur(20px);
    filter: blur(20px); } }

.hire-game-greeting {
  display: none; }
  .hire-game-greeting span {
    line-height: 50px; }

.hire-game {
  width: 96px;
  color: #c9fcad;
  text-transform: uppercase;
  font-size: 14px; }
  .hire-game .navbar-hire {
    float: right; }

.hire-game-greeting p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 20em;
  -webkit-animation: type 2s steps(33, end);
  animation: type 2s steps(33, end); }

.hire-game-greeting span {
  -webkit-animation: blink 1s infinite;
  animation: blink 1s infinite; }

@-webkit-keyframes type {
  0% {
    width: 0; } }

@keyframes type {
  0% {
    width: 0; } }

@-webkit-keyframes blink {
  to {
    opacity: .0; } }

@keyframes blink {
  to {
    opacity: .0; } }

.navbar-menu-icon {
  font-size: 27px;
  cursor: pointer;
  display: none; }

.navbar-mobile {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition-property: height, padding-bottom;
  transition-property: height, padding-bottom; }

.btn-outline {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px 22px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 22px;
  line-height: 22px;
  color: white;
  font-weight: normal;
  outline: none;
  border: 2px solid white; }
  .btn-outline:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.2); }
  .btn-outline:active {
    color: white;
    background-color: rgba(255, 255, 255, 0.1); }

.contact-block {
  margin: 100px auto; }
  .contact-block .title {
    text-align: center;
    font-size: 60px; }
    .contact-block .title #pulsar {
      display: inline-block;
      background-color: white;
      width: 60px;
      height: 10px;
      position: relative;
      left: 50px; }
  .contact-block .mail-img-wrap {
    width: 120px;
    margin: 80px auto; }
    .contact-block .mail-img-wrap .mail-img-rotate {
      height: 120px;
      width: 120px; }
      .contact-block .mail-img-wrap .mail-img-rotate img {
        width: 100%;
        height: auto; }
    .contact-block .mail-img-wrap .mail-img-rotate:hover {
      -webkit-animation: 3s linear 0s infinite normal mail;
      animation: 3s linear 0s infinite normal mail; }

@-webkit-keyframes mail {
  from {
    -webkit-transform: rotate(0deg); }
  9% {
    -webkit-transform: rotate(-11deg); }
  13% {
    -webkit-transform: rotate(20deg); }
  20% {
    -webkit-transform: rotate(-9deg); }
  24% {
    -webkit-transform: rotate(3deg); }
  28% {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(0deg); } }

@keyframes mail {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  9% {
    -webkit-transform: rotate(-11deg);
    transform: rotate(-11deg); }
  13% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg); }
  20% {
    -webkit-transform: rotate(-9deg);
    transform: rotate(-9deg); }
  24% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg); }
  28% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

.address-block {
  max-width: 100%;
  background-color: #101010; }
  .address-block .contacts {
    max-width: 1040px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 50px 0; }
    .address-block .contacts .title {
      text-align: center;
      font-size: 24px;
      margin: 30px 0 50px 0;
      font-weight: 300; }
    .address-block .contacts .social {
      margin-top: 20px;
      text-align: center;
      font-size: 30px; }
      .address-block .contacts .social a {
        color: white;
        border: 2px solid white;
        padding: 10px 12px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        -webkit-transition-property: color, background-color;
        transition-property: color, background-color; }
        .address-block .contacts .social a i {
          display: inline-block;
          width: 30px;
          height: 30px; }
        .address-block .contacts .social a:hover {
          color: black;
          background-color: white; }
    .address-block .contacts .address {
      text-align: center;
      max-width: 200px; }

footer {
  margin: 25px 0 25px 0;
  text-align: center;
  font-size: 20px; }

.polygon-container .back-content {
  visibility: hidden;
  opacity: 0; }

.polygon-container .face-content, .polygon-container .back-content {
  text-anchor: middle;
  font-family: Roboto, sans-serif;
  fill: white;
  -webkit-transition: visibility 0s, opacity 0.4s linear;
  transition: visibility 0s, opacity 0.4s linear; }

.polygon-container .hex {
  -webkit-transition: fill-opacity 0.4s ease;
  transition: fill-opacity 0.4s ease; }

.polygon-container:hover .face-content, .polygon-container:hover .back-content {
  -webkit-transition: visibility 0.4s, opacity 0.4s linear;
  transition: visibility 0.4s, opacity 0.4s linear; }

.polygon-container:hover .back-content {
  visibility: visible;
  opacity: 1; }

.polygon-container:hover .face-content {
  visibility: hidden;
  opacity: 0; }

.polygon-container:hover .hex {
  fill-opacity: 0.3; }

.mirror-block .hex {
  fill-opacity: 0.7; }

.mirror-block .hex:hover {
  fill-opacity: 0.4; }

@media (max-width: 890px) {
  .contact-block .text-container .title {
    font-size: 50px; }
    .contact-block .text-container .title #pulsar {
      width: 45px;
      height: 8px;
      left: 40px; }
  .address-block .contacts {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .address-block .contacts .title {
      font-size: 22px; }
    .address-block .contacts .social {
      font-size: 24px; }
      .address-block .contacts .social a {
        padding: 8px 10px; }
        .address-block .contacts .social a i {
          width: 24px;
          height: 24px; }
    .address-block .contacts .description {
      max-width: 150px; } }

@media (max-width: 636px) {
  .navbar .navbar-menu-icon {
    display: inline-block; }
  .navbar .hire-game, .navbar .navbar-contact, .navbar .navbar-nav {
    display: none; }
  .navbar .navbar-content {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .navbar .navbar-mobile.expand {
    height: 175px;
    padding-bottom: 10px; }
  .navbar .navbar-nav-mobile {
    margin-left: 30px; }
    .navbar .navbar-nav-mobile a {
      line-height: 35px; }
  .contact-block {
    padding-top: 20px; }
    .contact-block .text-container .title {
      font-size: 35px; }
      .contact-block .text-container .title #pulsar {
        width: 25px;
        height: 6px;
        left: 20px; }
    .contact-block .mail-img-wrap {
      width: 80px;
      margin: 60px auto; }
  .address-block .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 0 50px 0; }
    .address-block .contacts .title {
      margin-bottom: 20px; }
  footer {
    margin: 20px 0 20px 0;
    font-size: 18px; } }

.products-block {
    background: url("../../images/team/team-bg.jpg") bottom center no-repeat;
    background-size: cover;
    max-width: 1200px;
    margin: 0 auto;
    padding: 72px 0 100px;
    overflow: hidden;
}
  .products-block .title {
    text-align: center;
    font-size: 72px;
    margin-top: 0;
    font-family: "Ikaros Sans", Roboto, sans-serif;
    margin-bottom: 36px; }

.products-list .product-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .products-list .product-container .p-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%; }
    .products-list .product-container .p-content h1 {
      font-size: 48px;
      margin: 0;
      font-weight: 500; }
    .products-list .product-container .p-content .p-description {
      font-weight: 300; }
    .products-list .product-container .p-content .product-links {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
      .products-list .product-container .p-content .product-links a {
        margin-right: 20px; }
        .products-list .product-container .p-content .product-links a .product-btn {
          font-size: 18px;
          padding: 10px 18px; }
  .products-list .product-container .p-image {
    width: 48%;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
    .products-list .product-container .p-image img {
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 100%; }
  .products-list .product-container:nth-child(even) {
    padding: 50px 75px; }
    .products-list .product-container:nth-child(even) .p-content {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1;
      padding-left: 30px; }
  .products-list .product-container:nth-child(odd) {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 78, 255, 0.1)), to(rgba(165, 93, 255, 0.1)));
    background: -webkit-linear-gradient(left, rgba(0, 78, 255, 0.1), rgba(165, 93, 255, 0.1));
    background: linear-gradient(to right, rgba(0, 78, 255, 0.1), rgba(165, 93, 255, 0.1));
    padding: 50px 75px; }
    .products-list .product-container:nth-child(odd) .p-content {
      font-size: 16px;
      padding-right: 30px; }
    .products-list .product-container:nth-child(odd) .p-image {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1; }

@media (max-width: 870px) {
  .products-block .title {
    font-size: 42px; }
  .products-block .products-list .product-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .products-block .products-list .product-container .p-content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%; }
      .products-block .products-list .product-container .p-content .product-links {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .products-block .products-list .product-container .p-content .product-links a {
          margin: 0 10px; }
      .products-block .products-list .product-container .p-content h1 {
        text-align: center;
        font-size: 1.7em;
        margin: 20px 0 0 0;
        text-transform: uppercase; }
      .products-block .products-list .product-container .p-content .p-description {
        font-weight: 300;
        text-align: center; }
    .products-block .products-list .product-container .p-image {
      width: 80%; }
    .products-block .products-list .product-container:nth-child(even) .p-content {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1;
      padding: 0; }
    .products-block .products-list .product-container:nth-child(odd) .p-content {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1;
      padding: 0; }
    .products-block .products-list .product-container:nth-child(odd) .p-image {
      -webkit-box-ordinal-group: 1;
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0; } }

@media (max-width: 650px) {
  .products-block .products-list .product-container {
    padding: 50px 20px; }
  .products-block .title {
    font-size: 38px; } }
